/node_modules
/public/build
/public/hot
/public/storage
/public/images/*
/storage/*
!/storage/.gitignore
!/storage/app/.gitignore
!/storage/framework/.gitignore
!/storage/logs/.gitignore
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.deptrac.cache
*.log
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
.claude
db_error.txt
gemini-generated-tests
/.fleet
/.idea/
/.vscode/
/.phpunit.cache/
/auth.json
Homestead.json
Homestead.yaml
